<style>
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Rakkas&family=Shrikhand&display=swap');
</style>


font-family: 'Rakkas', cursive;
font-family: 'Shrikhand', cursive;

a { 
margin: 0;
padding: 0;
font-family: 'Arima Madurai', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgb(60, 60, 60), rgb(179, 177, 177));
  overflow: hidden;
}