div { margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px; 
  margin-right: 10px;
  background-color: rgb(196, 254, 255);
  border-radius: 10px;
}
div.relative {
  position: relative;
  left: 50px;
}
#footer {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.thin-black-border {
  border-color: black;
  border-width: 10px;
  border-style: solid;}

.smaller-image { 
  width: 200px}

body {
  background-color: rgb(200, 152, 251);
  text-align: center;
}
h1 { 
  color: rgb(89, 25, 209);
  font-family: 'Cormorant Garamond', 'Proza libre';
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}
h2 {
  color:  rgb(231, 221, 249); 
  font-family:'Cormorant Garamond', 'Proza libre'; 
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}
p { 
  color: rgb(49, 92, 93);
  font-family: 'Proza Libre', ' Cormorant Garamond';
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.bisque-background {
  background-color: bisque;
}
@media (min-width: 320px) {body 
  { 
  background-color: floralwhite;
}}
@media (min-width: 768px) {body 
  { 
  background-color: goldenrod;
}}
@media (min-width: 1200px) {body 
  { 
  background-color: rgb(255, 166, 0);
}}