@media (max-height: 320px) {body 
  { 
  background-color: floralwhite;
}}
@media (max-height: 768px) {body 
  { 
  background-color: goldenrod;
}}
@media (max-height: 1200px) {body 
  { 
  background-color: rgb(255, 166, 0);
}}
.thin-black-border {
  border-color: black;
  border-width: 5px;
  border-style: solid;}
  
.smaller-image { 
  width: 100px}

body {
  background-color: rgb(200, 152, 251);
  text-align: center;  
}
h1 { 
  color: rgb(231, 221, 249);
  font-family: 'Cormorant Garamond', 'Proza libre';
  font-size: large;
  font-weight: bolder;
}
h2 {
  color:  rgb(231, 221, 249); 
  font-family:'Cormorant Garamond', 'Proza libre'; 
  font-size: medium;
}
p { 
  color: palevioletred;
  font-family: 'Proza Libre', ' Cormorant Garamond';
  font-size: medium;
}